TASK 1. EXPERIMENTAL TIME COMPLEXITY ANALYSIS/.ipynb_checkpoints
TASK 2. ALGORITHMS FOR UNCONSTRAINED NONLINEAR OPTIMIZATION. DIRECT METHODS/.ipynb_checkpoints
TASK 3. ALGORITHMS FOR UNCONSTRAINED NONLINEAR OPTIMIZATION. FIRST- AND SECONDORDER/.ipynb_checkpoints