TASK 1. EXPERIMENTAL TIME COMPLEXITY ANALYSIS/.ipynb_checkpoints
TASK 2. ALGORITHMS FOR UNCONSTRAINED NONLINEAR OPTIMIZATION. DIRECT METHODS/.ipynb_checkpoints
TASK 3. ALGORITHMS FOR UNCONSTRAINED NONLINEAR OPTIMIZATION. FIRST- AND SECONDORDER METHODS/.ipynb_checkpoints
TASK 4. ALGORITHMS FOR UNCONSTRAINED NONLINEAR OPTIMIZATION. STOCHASTIC AND METAHEURISTIC ALGORITHMS/.ipynb_checkpoints
TASK 5. ALGORITHMS ON GRAPHS. INTRODUCTION TO GRAPHS AND BASIC ALGORITHMS ON GRAPHS/.ipynb_checkpoints
TASK 6. ALGORITHMS ON GRAPHS. PATH SEARCH ALGORITHMS ON WEIGHTED GRAPHS/.ipynb_checkpoints
TASK 8. PRACTICAL ANALYSIS OF ADVANCED ALGORITHMS/.ipynb_checkpoints